<h2>Check if the resource is available
</h2>

<form [formGroup]="reserveForm">
  <div id="inputs">
  <span id="date">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [min]="minDate | date: 'yyyy-MM-dd'"
        formControlName="date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </span>

  <span id="time">
    <mat-form-field appearance="fill">
      <mat-label>Choose a time</mat-label>
      <input
        matTimepicker
        formControlName="time"
        matInput
        mode="24h"
      />
    </mat-form-field>
  </span>
  </div>

  <div id="button">
    <button
      mat-raised-button
      color="primary"
      [disabled]="reserveForm.invalid"
      (click)="getAvaiability()"
    >
      Check ressource
    </button>
  </div>
</form>
